Scada/flows.json
[
    {
        "id": "bffec00db917d034",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36d36ef6f9b628c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c031b2a5eba9976",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "e0e5630fd84fb9a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b749c816ce994500",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "e0e5630fd84fb9a7",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f901173894c2f6cc",
        "type": "ui_group",
        "name": "Security Mode",
        "tab": "e0e5630fd84fb9a7",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0e5630fd84fb9a7",
        "type": "ui_tab",
        "name": "Smart Lighting System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "967f4b1102b17d09",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "789e78505066cddc",
        "type": "ui_group",
        "name": "Smart Bulb",
        "tab": "e0e5630fd84fb9a7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abc409b6b9eaa8ca",
        "type": "mqtt in",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/BH1750",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "66d4cbdcd15fb0ad",
                "8b9dfe9abfbf527b"
            ]
        ]
    },
    {
        "id": "66d4cbdcd15fb0ad",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "37169ce2217288e6",
        "type": "ui_gauge",
        "z": "bffec00db917d034",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9ac68f793bbd8c3",
        "type": "ui_chart",
        "z": "bffec00db917d034",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6389ac0e312bd3a1",
        "type": "mqtt in",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/PIR",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "ac0371a304d2756a",
                "1c87293bae36c19b"
            ]
        ]
    },
    {
        "id": "ac0371a304d2756a",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "960eebaefccbd0e4",
        "type": "ui_text",
        "z": "bffec00db917d034",
        "group": "b749c816ce994500",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c87293bae36c19b",
        "type": "function",
        "z": "bffec00db917d034",
        "name": "function 3",
        "func": "var value2 = msg.payload.Occupancy;\n\nif(value2){\n    msg.payload = \"Occupied\";\n}\nelse{\n    msg.payload = \"Not Occupied\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "960eebaefccbd0e4",
                "877d4aa07a4673fe"
            ]
        ]
    },
    {
        "id": "8b9dfe9abfbf527b",
        "type": "function",
        "z": "bffec00db917d034",
        "name": "function 1",
        "func": "var value2 = msg.payload.Intensity; \n\nmsg.payload = value2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "37169ce2217288e6",
                "b9ac68f793bbd8c3",
                "28ab589707012a08"
            ]
        ]
    },
    {
        "id": "965d9b4db57cd453",
        "type": "ui_switch",
        "z": "bffec00db917d034",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f901173894c2f6cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"Security\": true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"Security\": false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "2e72648a27b1e4c4"
            ]
        ]
    },
    {
        "id": "2e72648a27b1e4c4",
        "type": "mqtt out",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/Security",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36d36ef6f9b628c1",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "28ab589707012a08",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "877d4aa07a4673fe",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "33a41f46f7e68717",
        "type": "mqtt in",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/LightLevel",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "f59010b80225740d",
                "55e73390ec521a30"
            ]
        ]
    },
    {
        "id": "f59010b80225740d",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "55e73390ec521a30",
        "type": "function",
        "z": "bffec00db917d034",
        "name": "function 4",
        "func": "var value5 = msg.payload.Level; \n\nmsg.payload = value5;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "0e3d622c441f1dc2",
                "76d467c6b7f2a061"
            ]
        ]
    },
    {
        "id": "0e3d622c441f1dc2",
        "type": "ui_gauge",
        "z": "bffec00db917d034",
        "name": "",
        "group": "789e78505066cddc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Light Level",
        "label": "level",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "2",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "76d467c6b7f2a061",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 600,
        "wires": []
    }
]