Scada/flows.json
[
    {
        "id": "bffec00db917d034",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abc409b6b9eaa8ca",
        "type": "mqtt in",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/BH1750",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "66d4cbdcd15fb0ad",
                "8b9dfe9abfbf527b"
            ]
        ]
    },
    {
        "id": "66d4cbdcd15fb0ad",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "37169ce2217288e6",
        "type": "ui_gauge",
        "z": "bffec00db917d034",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "700",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9ac68f793bbd8c3",
        "type": "ui_chart",
        "z": "bffec00db917d034",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6389ac0e312bd3a1",
        "type": "mqtt in",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/PIR",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "ac0371a304d2756a",
                "1c87293bae36c19b"
            ]
        ]
    },
    {
        "id": "ac0371a304d2756a",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "960eebaefccbd0e4",
        "type": "ui_text",
        "z": "bffec00db917d034",
        "group": "b749c816ce994500",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c87293bae36c19b",
        "type": "function",
        "z": "bffec00db917d034",
        "name": "function 3",
        "func": "var value2 = msg.payload.Occupancy;\n\nif(value2){\n    msg.payload = \"Occupied\";\n}\nelse{\n    msg.payload = \"Not Occupied\"\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "960eebaefccbd0e4",
                "877d4aa07a4673fe"
            ]
        ]
    },
    {
        "id": "8b9dfe9abfbf527b",
        "type": "function",
        "z": "bffec00db917d034",
        "name": "function 1",
        "func": "var value2 = msg.payload.Intensity; \n\nmsg.payload = value2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "37169ce2217288e6",
                "b9ac68f793bbd8c3",
                "28ab589707012a08"
            ]
        ]
    },
    {
        "id": "965d9b4db57cd453",
        "type": "ui_switch",
        "z": "bffec00db917d034",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f901173894c2f6cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "2e72648a27b1e4c4"
            ]
        ]
    },
    {
        "id": "2e72648a27b1e4c4",
        "type": "mqtt out",
        "z": "bffec00db917d034",
        "name": "",
        "topic": "UoP/CO/326/E18/18/Security",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36d36ef6f9b628c1",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "28ab589707012a08",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "877d4aa07a4673fe",
        "type": "debug",
        "z": "bffec00db917d034",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "36d36ef6f9b628c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c031b2a5eba9976",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "e0e5630fd84fb9a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b749c816ce994500",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "e0e5630fd84fb9a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f901173894c2f6cc",
        "type": "ui_group",
        "name": "Security Mode",
        "tab": "e0e5630fd84fb9a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0e5630fd84fb9a7",
        "type": "ui_tab",
        "name": "Smart Lighting System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]