Scada/nodered.json
[
    {
        "id": "0365758bda7c0a87",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ced29ef438111bd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e7843162374c091",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce633e336526bd3e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7c031b2a5eba9976",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "e0e5630fd84fb9a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36d36ef6f9b628c1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b749c816ce994500",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "e0e5630fd84fb9a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0e5630fd84fb9a7",
        "type": "ui_tab",
        "name": "Smart Lighting System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f901173894c2f6cc",
        "type": "ui_group",
        "name": "Security Mode",
        "tab": "e0e5630fd84fb9a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3959fdf8ee7a9dc",
        "type": "mqtt in",
        "z": "0365758bda7c0a87",
        "name": "",
        "topic": "mqttTopicIntensity: UoP/CO/326/E18/18/BH1750",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "65cb020c31dfb961",
                "d876b5b6f6848317",
                "850a8b4133771d73"
            ]
        ]
    },
    {
        "id": "65cb020c31dfb961",
        "type": "debug",
        "z": "0365758bda7c0a87",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "9c3f8ea821df8715",
        "type": "ui_gauge",
        "z": "0365758bda7c0a87",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "75",
        "seg2": "150",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "d876b5b6f6848317",
        "type": "ui_chart",
        "z": "0365758bda7c0a87",
        "name": "",
        "group": "7c031b2a5eba9976",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3803d92d1d86c0c3",
        "type": "mqtt in",
        "z": "0365758bda7c0a87",
        "name": "",
        "topic": "mqttTopicOccupancy: UoP/CO/326/E18/18/PIR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "36d36ef6f9b628c1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "bac735987bb5b686",
                "eaec90d5dd50254a"
            ]
        ]
    },
    {
        "id": "bac735987bb5b686",
        "type": "debug",
        "z": "0365758bda7c0a87",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "4341c399e41316f4",
        "type": "ui_text",
        "z": "0365758bda7c0a87",
        "group": "b749c816ce994500",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "eaec90d5dd50254a",
        "type": "function",
        "z": "0365758bda7c0a87",
        "name": "function 3",
        "func": "if (msg.payload){\n    msg.payload = \"Occupied\";\n}\nelse\n    msg.payload = \"Not occupied\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4341c399e41316f4"
            ]
        ]
    },
    {
        "id": "850a8b4133771d73",
        "type": "function",
        "z": "0365758bda7c0a87",
        "name": "function 1",
        "func": "var value2 = msg.payload.Intensity; \n\nmsg.payload = value2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "9c3f8ea821df8715"
            ]
        ]
    },
    {
        "id": "ee69e9fd0dacc557",
        "type": "ui_switch",
        "z": "0365758bda7c0a87",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f901173894c2f6cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "081ba712e54c5e71"
            ]
        ]
    },
    {
        "id": "081ba712e54c5e71",
        "type": "mqtt out",
        "z": "0365758bda7c0a87",
        "name": "",
        "topic": "mqttTopicSecurity: UoP/CO/326/E18/18/Security",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "36d36ef6f9b628c1",
        "x": 460,
        "y": 340,
        "wires": []
    }
]